@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

  body {
    font-family: 'Share Tech Mono', monospace;
    font-variant-numeric: tabular-nums;
    background: #00b7ff9a;
    color: #274B66;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/background.png) no-repeat center center;
  background-size: cover;
  opacity: 0.15; /* opacidade da imagem */
  z-index: -1; /* atrás do conteúdo */
}

  .centro {
    text-align: center;
    font-size: 1.5em;
    width: 60%;
    border: 1px solid rgba(0, 178, 184, 0.205);
    border-radius: 2000px;
    opacity: 0.5;
    padding: 100px;
    box-sizing: border-box;
    background-color: rgba(159, 252, 255, 0.295);
    box-shadow: 0px 0px 20px 10px #008cff94;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
  }
  
  #cronometro {
    color: #fff;
    font-size: 9em;
    text-align: center;
    width: 8ch;
    white-space: nowrap;
    text-shadow: 
        /* 1ª camada: Um brilho suave e espalhado */
        0 0 10px rgba(0, 192, 255, 0.7), 
        /* 2ª camada: Um brilho mais intenso e focado */
        0 0 20px rgba(0, 192, 255, 0.9),
        /* 3ª camada: Um brilho azul mais profundo para a aura */
        0 0 40px rgba(0, 192, 255, 0.5);
  }


  .painel {
    position: fixed;
    top: 0;
    width: 250px;
    height: 100vh;
    background: rgba(159, 252, 255, 0.295) ;
    border: 1px solid rgba(0, 178, 184, 0.205);
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
  }

  .painel.esquerdo {
    left: 0;
    text-align: left;
  }

  .painel.direito {
    right: 0;
    text-align: left;
  }

  .painel h2 {
    font-size: 1.3em;
    margin-top: 30px;
  }

  .painel p {
    color: #000000;
    font-size: 0.9em;
  }

  #ranking {
    margin-top: 15px;
    font-size: 0.8em;
  }

  #ranking ol {
    padding-left: 0px;
    list-style-type: none;
  }

  #ranking li {
    margin: 5px 0;
    color: #000000af;
    border: rgba(255, 255, 255, 0.6) 1px solid ;
    border-radius: 5px;
    padding: 4px 8px;
    transition: background 0.3s;
  }

  .button {
    background: #274B66;
    border: none;
    color: #fff;
    padding: 8px 16px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 6px;
  }

  .button:hover {
    background: #1f3748;
  }



  #premio {
    display: none;
    color: #ffd700;
    font-size: 2em;
    margin-top: 25px;
  }

  #carregamento {
    width: 400px;
    height: 12px;
    background: #1f1f1f;
    border: 1px solid #333;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 25px;
    display: none;
  }

  #barra {
    height: 100%;
    width: 0%;
    background: #274B66;
    transition: width 0.03s linear;
  }

  .info {
    color: #f7f7f7;
    font-size: 1.1em;
    margin-top: 25px;
  }

  /* Formulário */
  #cadastro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

  #cadastro h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
  }

  #cadastro input, select {
    width: 280px;
    padding: 10px;
    font-size: 1em;
    margin-bottom: 15px;
    border: none;
    border-radius: 6px;
    text-align: center;
  }

  #cadastro button {
    background: #274B66;
    color: #fff;
    font-weight: bold;
    font-size: 1em;
  }

  #baixarCSV svg {
    width: 32px;
    height: 32px;
    fill: #fff;
    position: fixed;
    bottom: 15px;
    right: 15px;
  }
.downbutton{
    position: fixed;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    background: none;
    border: none;   
}
  .footer {
    position: absolute;
    bottom: 5px;
    font-size: 0.6em;
    text-align: center;
    color: #444444;
    padding: 5px;
    text-shadow: 1px 1px 4px rgba(194, 194, 194, 0.8);
  }
		a:link, a:visited {
 			color: #444444;
 			text-decoration: none;
  			display: inline-block;
		}

		a:hover, a:active {
  			color: rgb(46, 46, 46);
		}
    .logo {
      width: 200px;
      margin-bottom: 5px;
      margin-top: 0px;
    }

    @media screen and (max-width: 820px) {
      .painel {
        width: 120px;
        padding: 15px;
      }
      .centro {
        width: 60%;
        display: flex;
        align-items: flex-start;
      }

      #cronometro {
        font-size: 1.2em;
        align-items: flex-start;
      }

      #carregamento {
        width: 300px;
      }
      .footer {
        font-size: 0.5em;
      }
      .info {
        font-size: 0.5em;
      }
      .painel h2 {
        font-size: 0.7em;
      }
      .painel p {
        font-size: 0.5em;
      }
      .painel.esquerdo {
        display: none;
      }

      @media screen and (max-width: 460px) {
        #carregamento {
          width: 200px;
        }
        .painel.direito, .painel.esquerdo {
          display: none;
        }
        
      }
      
    }

    